<section class="container mx-auto">
    <label>
      <input class="peer/showLabel scale-0" type="checkbox" />
      <span
        class="block max-h-14 mx-auto overflow-hidden rounded-lg bg-gradient-to-r from-purple-950 to-red-600 px-4 py-0 text-white shadow-lg transition-all duration-300 peer-checked/showLabel:max-h-96">
        <h3 class="flex h-14 cursor-pointer items-center font-bold text-lg">{{examen.tipo}}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 mx-2" viewBox="0 0 24 24">
                <path fill="currentColor" d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569z" />
            </svg>
        </h3>
        <p class="mb-2 text-gray-200"><b>Contenido:</b> {{examen.descripcion}}</p>
        <p class="mb-2 text-gray-200"><b>Tiempo:</b> {{examen.tiempo}} minutos.</p>
        <p class="mb-2 text-gray-200"><b>Preguntas:</b> {{examen.preguntas}}</p>
        <button class="bg-red-600 p-3 my-2 font-bold rounded-full">Iniciar Examen</button>
      </span>
    </label>
  </section>