.examen-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .problema-container {
    margin-bottom: 20px;
  }
  
  .opciones {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .terminar-examen {
    text-align: center;
    margin-top: 20px;
  }
  