<section class="bg-white dark:bg-gray-900 bg-">
    <div class="grid max-w-screen-xl px-4 pb-8 pt-8 mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-6xl xl:text-8xl dark:text-white">
                Simulador de Examenes</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Realiza
                simulaciones de exámenes de admisión, parciales y finales, abarcando los cursos más importantes del área
                común en la División de Ciencias de la Ingeniería en el CUNOC.</p>
            <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                <a routerLink="/cursos"
                    class=" rounded-full bg-gradient-to-r from-purple-950 to-red-600 border-none transform hover:scale-95 transition-transform duration-3000 ease-in-out text-white
                    inline-flex lg:w-full lg:text-3xl items-center justify-center w-full px-5 py-3 text-sm font-medium text-center border sm:w-auto">
                    Inicia Ahora
                </a>
            </div>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="dark:text-red-800 text-red-500" viewBox="0 0 24 24">
                <g fill="none" stroke="#dc2626" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                    <path stroke-dasharray="20" stroke-dashoffset="20" d="M3 21h18">
                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="20;0" />
                    </path>
                    <path fill="currentColor" fill-opacity="0" stroke-dasharray="48" stroke-dashoffset="48"
                        d="M7 17v-4l10 -10l4 4l-10 10h-4">
                        <animate fill="freeze" attributeName="fill-opacity" begin="1.1s" dur="0.5s" values="0;1" />
                        <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.2s" dur="0.6s"
                            values="48;0" />
                    </path>
                    <path stroke-dasharray="8" stroke-dashoffset="8" d="M14 6l4 4">
                        <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" values="8;0" />
                    </path>
                </g>
            </svg>
        </div>
    </div>
</section>

<section class="bg-gray-50 dark:bg-gray-800">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">

        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Prepárate para un
                    examen</h2>
                <p class="mb-8 font-light lg:text-xl">
                    Preparate mediante un entorno de estudio interactivo y realista, con exámenes que simulan
                    evaluaciones reales, lo que te ayudará a sentirte más preparado y seguro el día de la prueba
                    oficial.
                </p>

                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-950 dark:text-purple-800" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Actualización
                            continua</span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-950 dark:text-purple-800" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">+100
                            ejercicios</span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-950 dark:text-purple-800" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">8 cursos
                            disponibles</span>
                    </li>
                </ul>
                <p class="mb-8 font-light lg:text-xl"><!--Pendiente de agregar texto final a este bloque--></p>
            </div>
            <div class="w-full lg:flex justify-center hidden ">
                <svg xmlns="http://www.w3.org/2000/svg" class="max-w-[50%]" viewBox="0 0 32 32">
                    <path fill="#dc2626"
                        d="m23 9.2l-2.6-2.6L19 8l4 4l7-7l-1.4-1.4zM12 5.4L10.6 4L8 6.6L5.4 4L4 5.4L6.6 8L4 10.6L5.4 12L8 9.4l2.6 2.6l1.4-1.4L9.4 8zm0 16L10.6 20L8 22.6L5.4 20L4 21.4L6.6 24L4 26.6L5.4 28L8 25.4l2.6 2.6l1.4-1.4L9.4 24z" />
                    <path fill="currentColor" d="M17 15V2h-2v13H2v2h13v13h2V17h13v-2z" />
                </svg>
            </div>
        </div>

        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="max-w-[50%] mx-auto text-red-600" viewBox="0 0 24 24">
                <path fill="currentColor" d="M15 1H9v2h6zm-4 13h2V8h-2zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42A8.96 8.96 0 0 0 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9a8.994 8.994 0 0 0 7.03-14.61M12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7" />
            </svg>
            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Experiencia inmersiva con temporizador</h2>
                <p class="mb-8 font-light lg:text-xl">Sientete cómo en un verdadero examen, con nuestro temporizador integrado que
                    pondra a prueba tu velocidad y destreza.</p>

                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-red-500 dark:text-red-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Temporizador dinamico</span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-red-500 dark:text-red-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Pon a prueba tu destreza</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="bg-white dark:bg-gray-900">
    <div
        class="items-center max-w-screen-xl px-4 py-8 mx-auto">
        <div class="mb-8">
            <h1 class="text-lg font-medium text-red-600 dark:text-red-500">Información Importante</h1>
            <p class="mt-3 mb-4 text-3xl tracking-tight text-gray-900 md:text-xl dark:text-white">
                Actualmente, nuestra aplicación se encuentra en fase de desarrollo, y estamos trabajando activamente para agregar más funcionalidades y contenido que mejorarán tu experiencia. Nuestro equipo está comprometido en ofrecerte una plataforma innovadora y efectiva para que puedas prepararte de la mejor manera para tus exámenes.
                <br> <br> Durante esta fase, implementaremos nuevas características y mejoraremos constantemente el contenido disponible para ofrecerte una herramienta completa y adaptada a tus necesidades. Agradecemos tu paciencia y apoyo mientras seguimos creciendo. ¡Pronto podrás disfrutar de todas las ventajas que ExamiNation tiene para ofrecer!
            </p>
            
        </div>
    </div>
</section>





