<div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
    <div class="relative p-8 space-y-8">
        <img src="https://tailus.io/sources/blocks/stacked/preview/images/avatars/burger.png" class="w-10" width="512" height="512" alt="burger illustration">
        
        <div class="space-y-2">
            <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-600">First feature</h5>
            <p class="text-sm text-gray-600">Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        </div>
        <a href="#" class="flex justify-between items-center group-hover:text-yellow-600">
            <span class="text-sm">Read more</span>
            <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
        </a>
    </div>
</div>
<div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
    <div class="relative p-8 space-y-8">
        <img src="https://tailus.io/sources/blocks/stacked/preview/images/avatars/burger.png" class="w-10" width="512" height="512" alt="burger illustration">
        
        <div class="space-y-2">
            <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-600">First feature</h5>
            <p class="text-sm text-gray-600">Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        </div>
        <a href="#" class="flex justify-between items-center group-hover:text-yellow-600">
            <span class="text-sm">Read more</span>
            <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
        </a>
    </div>
</div>
<div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
    <div class="relative p-8 space-y-8">
        <img src="https://tailus.io/sources/blocks/stacked/preview/images/avatars/trowel.png" class="w-10" width="512" height="512" alt="burger illustration">
        
        <div class="space-y-2">
            <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-600">Second feature</h5>
            <p class="text-sm text-gray-600">Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        </div>
        <a href="#" class="flex justify-between items-center group-hover:text-yellow-600">
            <span class="text-sm">Read more</span>
            <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
        </a>
    </div>
</div>
<div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
    <div class="relative p-8 space-y-8">
        <img src="https://tailus.io/sources/blocks/stacked/preview/images/avatars/package-delivery.png" class="w-10" width="512" height="512" alt="burger illustration">
        
        <div class="space-y-2">
            <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-600">Third feature</h5>
            <p class="text-sm text-gray-600">Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        </div>
        <a href="#" class="flex justify-between items-center group-hover:text-yellow-600">
            <span class="text-sm">Read more</span>
            <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
        </a>
    </div>
</div>
<div class="relative group bg-gray-100 transition hover:z-[1] hover:shadow-2xl lg:hidden xl:block">
    <div class="relative p-8 space-y-8 border-dashed rounded-lg transition duration-300 group-hover:bg-white group-hover:border group-hover:scale-90">
        <img src="https://tailus.io/sources/blocks/stacked/preview/images/avatars/metal.png" class="w-10" width="512" height="512" alt="burger illustration">
        
        <div class="space-y-2">
            <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-600">More features</h5>
            <p class="text-sm text-gray-600">Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        </div>
        <a href="#" class="flex justify-between items-center group-hover:text-yellow-600">
            <span class="text-sm">Read more</span>
            <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
        </a>
    </div>
</div>